<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_09_Dictionaries.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Postings (1.9.1)

In [1]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['Data Analyst']

80

---

## ðŸŸ© Add Job Role (1.9.2)

In [2]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
job_postings

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

---

## ðŸŸ¨ Remove Job Role (1.9.3)

In [3]:
# Code Needed
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Machine Learning Engineer')
job_postings

{'Data Scientist': 120, 'Data Analyst': 80}

---

## ðŸŸ¨ Merge Dictionaries (1.9.4)

In [4]:
# Code Needed
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}

job_postings1.update(job_postings2)
job_postings1

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

---

## ðŸŸ¥ Create Nested Dictionary (1.9.5)

In [6]:
job_details = {
    'Data Scientist': {
        'Postings': 120,
        'Salary': 120000
    },
    'Data Analyst': {
        'Postings': 80,
        'Salary': 80000
    },
    'Machine Learning Engineer': {
        'Postings': 50,
        'Salary': 110000
    }
}
job_details['Data Analyst']['Salary']

80000

---